<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="CCFINDERX.commands.category"
            name="CCFINDERX">
      </category>
      <command
            categoryId="CCFINDERX.commands.category"
            id="CCFINDERX.commands.executionCommand"
            name="Run">
      </command>
      <command
            categoryId="CCFINDERX.commands.category"
            id="CCFINDERX.commands.openEditorCommand"
            name="Open Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ccfinderx.handlers.ExecutionHandler"
            commandId="CCFINDERX.commands.executionCommand">
      </handler>
      <handler
            class="ccfinderx.handlers.OpenEditorHandler"
            commandId="CCFINDERX.commands.openEditorCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="CCFINDERX.menus.mainMenu"
               label="CCFinderX">
            <command
                  commandId="CCFINDERX.commands.executionCommand"
                  icon="icons\lrun_obj.gif"
                  id="CCFINDERX.menus.executionCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="CCFINDERX.toolbars.sampleToolbar">
            <command
                  commandId="CCFINDERX.commands.executionCommand"
                  icon="icons/sample.gif"
                  id="CCFINDERX.toolbars.executionCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="CCFINDERX"
            name="CCFINDERX">
      </category>
      <view
            category="CCFINDERX"
            class="ccfinderx.ui.views.CloneSetView"
            icon="icons/datasheet.gif"
            id="ccfinderx.ui.views.CloneSetView"
            name="Clone-Set View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="ccfinderx.ui.views.CloneSetView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            category="CCFINDERX"
            class="ccfinderx.ui.editors.MultipleTextPaneEditor"
            icon="icons/showdesc_co.gif"
            id="ccfinderx.ui.editors.MultipleTextPaneEditor"
            name="Clone Code">
      </editor>
   </extension>

</plugin>
